@import url('List.css');
@import url('Dialog.css');

.App {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.App ul {
    width: 100%;
    flex-grow: 1;
}

.App .button-container {
    position: absolute;
    left: 1rem;
    bottom: 1rem;

    display: flex;
    gap: 0.5rem;
}

.App .button-container button {
    padding: 0.75rem 1.5rem;
    min-width: 120px;

    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;

    font-weight: 600;
    font-size: 1rem;

    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.App .button-container button:hover {
    background-color: var(--color-tertiary);
}