.Dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--color-black);
    z-index: 10;

    border-radius: 0.25em;
}

.Dialog form {
   display: flex;
   gap: 1em;
}

.Dialog input {
    flex-grow: 1;

    border-radius: 0.2em;
}

.Dialog button {
    padding: 0.2em;
    background-color: var(--color-primary);
    color: var(--color-white);

    font-weight: 600;
    font-size: large;

    border-radius: 0.2em;
}