.Dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--color-secondary);
    border: 2px solid var(--color-primary);
    z-index: 10;

    padding: 2rem;
    border-radius: 0.5rem;
    min-width: 300px;
    max-width: 400px;
}

.Dialog form {
   display: flex;
   gap: 0.75rem;
   align-items: center;
}

.Dialog input {
    flex-grow: 1;

    padding: 0.75rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.25rem;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 1rem;

    outline: none;
}

.Dialog input:focus {
    border-color: var(--color-aqua);
    box-shadow: 0 0 0 2px rgba(54, 90, 120, 0.3);
}

.Dialog button {
    padding: 0.75rem 1.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;

    font-weight: 600;
    font-size: 1rem;

    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.Dialog button:hover {
    background-color: var(--color-tertiary);
}

.Dialog[style*="display: none"] {
    display: none !important;
}