dialog.Edit form {
   display: grid;
   grid-template-rows: auto 3fr;
   grid-template-columns: 1fr auto;
   gap: 0.5rem;
   align-items: start;
}

dialog.Edit form input.title {
    grid-row: 1;
    grid-column: 1;

    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.25rem;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 0.9rem;

    outline: none;
}

dialog.Edit form input.title:focus {
    border-color: var(--color-aqua);
    box-shadow: 0 0 0 2px rgba(54, 90, 120, 0.3);
}

dialog.Edit form textarea.text {
    grid-row: 2;
    grid-column: 1 / -1;

    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.25rem;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 0.9rem;
    font-family: inherit;
    resize: vertical;
    min-height: 4.5rem;
    max-height: 12rem;

   outline: none;
}

dialog.Edit form textarea.text:focus {
    border-color: var(--color-aqua);
    box-shadow: 0 0 0 2px rgba(54, 90, 120, 0.3);
}

dialog.Edit form button {
    grid-row: 1;
    grid-column: 2;

    padding: 0.5rem 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;

    font-weight: 600;
    font-size: 0.9rem;

    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

dialog.Edit form button:hover {
    background-color: var(--color-tertiary);
}