@import url('colors.css');

.Item {
    width: 100%;
    height: 3.5rem;

    background-color: var(--color-tertiary);

    padding: 0.75rem 1rem;

    border: 2px solid var(--color-secondary);
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;
}

.Item .check {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0;
    accent-color: var(--color-primary);
}

.Item .text {
    flex-grow: 1;

    color: var(--color-white);
    font-size: 1rem;
    line-height: 1.4;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.Item button {
    min-width: 5rem;
    height: 2rem;
    color: var(--color-black);
    background-color: var(--color-white);
    border: none;

    font-weight: 600;
    font-size: 0.875rem;

    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s;
}

.Item button:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
}