@import url('colors.css');

.Item {
    width: 100%;

    background-color: var(--color-tertiary);

    padding: 0.5em;

    border: 1px solid var(--color-secondary);
    border-radius: 0.5em;

    display: flex;
    justify-content: space-between;

    gap: 3em;
}

.Item .text {
    flex-grow: 1;
    
    width: 100%;
    color: var(--color-black);

    font-size: large;
}

.Item button {
    color: var(--color-black);
    background-color: var(--color-white);

    float: right;

    padding: 1em;

    border-radius: 0.5em;
    box-shadow: 0 0 0.5em var(--color-black);
}

.Item button:hover {
    box-shadow: inset 0 0 0.5em var(--color-black);
}