@import url('colors.css');
@import url('App.css');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;

    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);

    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: var(--color-secondary);
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 1rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--color-secondary);
    border-radius: 1rem 1rem 0 0;
    margin-top: 1rem;
}

main {
    flex-grow: 1;
    overflow: hidden;
    padding: 1rem;
    position: relative;
}